.side_content{
	margin-top:30px;
}
.login{
	margin-top:50px;
	margin-bottom:122px;
}
.icon-bottom{
	margin-bottom:-10px;
}
.login-center{
	text-align:center;
}
.login-face-center{
	text-align:center;
}
.today-news-font{
	font-size:18px;
}
.a_fontcolor{
	color:#ffffff;
}